In [102]:
#No1
import sqlite3
def view_update_transaction(data):
  conn = sqlite3.connect(data)
  cursor = conn.cursor()
  cursor.execute('''CREATE TABLE IF NOT EXISTS transactions(
   tx_id INT,
   id INT,
   insert_time DATETIME,
   tx_amount FLOAT,
   tx_type TEXT,
   status TEXT)''')
  conn.commit()

  conn = sqlite3.connect(data)
  cursor = conn.cursor()
  sqlite_insert_query = """INSERT INTO transactions
                          (tx_id,id, insert_time, tx_amount, tx_type, status) 
                          VALUES (?, ?, ?, ?, ?, ?)"""
  recordsToInsert = [(1,1, '2021-06-28 07:30:00', 10, 'buy', 'open'),
                   (2,2, '2021-06-28 07:33:40', 30, 'buy', 'open'),
                   (3,3, '2021-06-28 08:31:00', 20, 'buy', 'open'),
                   (4,2, '2021-06-28 09:20:00', 10, 'sell', 'close'),
                   (5,4, '2021-06-28 09:51:20', 50, 'buy', 'open'),
                   (6,3, '2021-06-28 09:55:31', 20, 'sell', 'close'),
                   (7,1, '2021-06-28 11:26:00', 20, 'buy', 'open'),
                   (8,5, '2021-06-28 12:31:00', 60, 'buy', 'open'),
                   (9,1, '2021-06-28 12:54:33', 20, 'sell', 'close'),
                   (10,4, '2021-06-28 14:01:14', 10, 'sell', 'close')]
  cursor.executemany(sqlite_insert_query, recordsToInsert)   
  conn.commit()

  cursor.execute('''SELECT id, max(insert_time) as insert_time, tx_amount, tx_type, status from transactions group by id''')
  for row in cursor.fetchall():
    print(row)
view_update_transaction('data_tx.db')

(1, '2021-06-28 12:54:33', 20.0, 'sell', 'close')
(2, '2021-06-28 09:20:00', 10.0, 'sell', 'close')
(3, '2021-06-28 09:55:31', 20.0, 'sell', 'close')
(4, '2021-06-28 14:01:14', 10.0, 'sell', 'close')
(5, '2021-06-28 12:31:00', 60.0, 'buy', 'open')

In [103]:
#No2
import sqlite3
def sum_window(data):
  conn = sqlite3.connect(data)
  cursor = conn.cursor()
  cursor.execute('''CREATE TABLE IF NOT EXISTS dsales(
   id INT,
   Date DATETIME,
   Sales FLOAT)''')
  conn.commit()

  conn = sqlite3.connect(data)
  cursor = conn.cursor()
  sqlite_insert_query = """INSERT INTO dsales
                          (id,Date,Sales) 
                          VALUES (?, ?, ?)"""
  recordsToInsert = [(1,'2021-01-01',100),
                   (2,'2021-01-02',34),
                   (3,'2021-01-02',123),
                   (4,'2021-01-02',134),
                   (5,'2021-01-03',145),
                   (6,'2021-01-03',24),
                   (7,'2021-01-04',541),
                   (8,'2021-01-04',636),
                   (9,'2021-01-05',322),
                   (10,'2021-01-06',242),
                   (11,'2021-01-07',22),
                   (12,'2021-01-08',46),]
  cursor.executemany(sqlite_insert_query, recordsToInsert)   
  conn.commit()

  cursor.execute('''SELECT Date, sum(Sales) as Total_Sales from dsales GROUP BY Date''')
  for row in cursor.fetchall():
    print(row)
sum_window('data_sales.db')

('2021-01-01', 400.0)
('2021-01-02', 1164.0)
('2021-01-03', 676.0)
('2021-01-04', 4708.0)
('2021-01-05', 1288.0)
('2021-01-06', 968.0)
('2021-01-07', 88.0)
('2021-01-08', 184.0)

In [105]:
#No3
dataset_c=[
   {
       "user": {
           "id": 1,
           "name": "agus",
           "email": "agus@example.com"
       },
       "txs": [
           {
               "id": 1,
               "tx_date": "2020-01-01",
               "tx_amount": 10,
               "tx_type": "buy"
           },
           {
               "id": 3,
               "tx_date": "2020-02-01",
               "tx_amount": 10,
               "tx_type": "buy"
           },
           {
               "id": 5,
               "tx_date": "2020-03-01",
               "tx_amount": 20,
               "tx_type": "sell"
           }
       ]
   },
   {
       "user": {
           "id": 2,
           "name": "asep",
           "email": "asep@example.com"
       },
       "txs": [
           {
               "id": 2,
               "tx_date": "2020-01-01",
               "tx_amount": 10,
               "tx_type": "sell"
           },
           {
               "id": 4,
               "tx_date": "2020-02-01",
               "tx_amount": 10,
               "tx_type": "sell"
           },
           {
               "id": 6,
               "tx_date": "2020-03-01",
               "tx_amount": 20,
               "tx_type": "buy"
           }
       ]
   }
]
dataset_c

import pandas as pd
df = pd.json_normalize(dataset_c,'txs',[['user','email'],['user','id'],['user','name']])
df

#No3a
no_3a=df[['user.id','id']]
no_3a.columns=['user_id','tx_id']
no_3a.to_csv('no_3a.csv',index=False)

#No3b
no_3b=df[['user.id','user.name','user.email']].drop_duplicates().reset_index(drop=True)
no_3b.columns=['id','name','email']
no_3b.to_csv('no_3b.csv',index=False)

#No3c
no_3c=df[['id','tx_date','tx_amount','tx_type']].sort_values('id').reset_index(drop=True)
no_3c.to_csv('no_3c.csv',index=False)